<div class="bgimg">
  <div class="topleft">
    <p></p>
  </div>
  <div class="middle">
    <h1>DeSousa Companies Coming Soon</h1>
    <br />
    <hr>
    <br />
    <p id="countdown"></p>
  </div>
  <div class="bottomleft">
    <p></p>
  </div>
</div>