<div class="home-callout text-center container-fluid">
  <div class="container">
    <h1>DeSousa Companies</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, autem, 
    quas similique magnam repellendus temporibus dolores quaerat quis dicta eaque 
    vel architecto optio magni quasi voluptatem totam ipsum cum pariatur.</h3>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="well">
        <h1 class="text-center">Company Schematic with Hover</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, 
        soluta, error amet harum hic fuga. Harum, iusto, cupiditate, 
        ab sit quas recusandae at sint pariatur asperiores doloribus iure 
        magnam ut.</p>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="well">
        <h1 class="text-center">Statistics</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, 
        sunt quaerat doloremque. Reprehenderit, sint, praesentium, consequuntur 
        provident ipsa ipsam at maxime beatae neque dolores vitae magnam ratione
        laudantium ut veniam!</p>
      </div>
    </div>
  </div>
</div>

<div class="home-callout-video container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 col-xl-offset-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="well">
        <h1 class="text-center">Organization Core Values</h1>
      </div>
    </div>
  </div>
</div>

<div class="home-callout-video container-fluid">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Meet the Partners</h1>
      <br />
        
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <%= image_tag("coming_soon.jpeg", :alt=> "Brandan Towers", class: "img-responsive img-circle") %>
          <br />
          <h3 class="text-center">Brandan Towers</h3>
          <h4 class="text-center">CEO</h4>
        </div>
     
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <%= image_tag("coming_soon.jpeg", :alt=> "Mark Carter", class: "img-responsive img-circle") %>
          <br />
          <h3 class="text-center">Mark Carter</h3>
          <h4 class="text-center">Vice President</h4>
        </div>
        
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <%= image_tag("coming_soon.jpeg", :alt=> "Gary Watson", class: "img-responsive img-circle") %>
          <br />
          <h3 class="text-center">Gary Watson</h3>
          <h4 class="text-center">Vice President</h4>
        </div>
        
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <%= image_tag("coming_soon.jpeg", :alt=> "Dr. Paul Smith III", class: "img-responsive img-circle") %>
          <br />
          <h3 class="text-center">Dr. Paul Smith III</h3>
          <h4 class="text-center">Vice President</h4>
        </div>
      </div>
    </div>
  </div>
</div>